textarea {
    width: 100%; /* Ширина поля в процентах */
    min-height: 10px; /* Высота поля в пикселах */
    resize: vertical; /* Запрещаем изменять размер */
    border:1px solid #ddd;
    padding: 1em 0 0 1em;
    margin-left: 2em;
    color: #767676;
}

textarea.description {
    display: none;
    width: 100%; /* Ширина поля в процентах */
    min-height: 100px; /* Высота поля в пикселах */
    resize: vertical; /* Запрещаем изменять размер */
    border:1px solid #ddd;
    padding: 1em 0 0 1em;
    text-align: left;
    /*margin-left: 10em;*/
    color: #767676;
}
#cke_editor1{
    margin-left: 1.9em;
    width: 99%;
}
.file_upload{
    position: relative;
    font-size: 1em;        /* example */
    height: 2em;           /* example */
    line-height: 2em       /* the same as height */
}
.file_upload > button{
    float: right;
}
.file_upload > button{
    padding: 0.4em 2em;
    background: #fff;
    font-family: "Myriad", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
    border: 2px solid #192A31;
    color: #192A31;
    /*white-space: nowrap;*/
    font-weight:bold;
    float: left;
    font-size: 1em;
    margin-left:1em;
    cursor: pointer;
}
.file_upload:hover button{
    background: #192A31 !important;
    color: #fff;
}
.file_upload input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    letter-spacing: 10em;     /* IE 9 fix */
    opacity: 0;
    cursor: pointer
}
.addOrder .fileInput{
    float: left;
    padding: 0.4em 2em;
    border:2px solid #192A31;
    font-weight: bold;
    cursor: pointer;
    margin:  0 1em;
}
.addOrder input{
    float: left;
    margin-left: 2em;
}
.addOrder .title{
    text-align: left;
    margin:1em;
}
.addOrder.mainBlock{
    padding-right: 4em;
}
.addOrder .submit{
    float: left;
    padding: 0.4em 2em;
    border:2px solid #192A31;
    font-weight: bold;
    cursor: pointer;
    margin: 2em 1em;
}
.addOrder .submit:hover{
    background: #192A31;
    color: #fff;
}
.orderType{
    padding: 1em 0 0 0;
}
.orderType input{
    margin-right: 1em;
}
.orderType span{
    position: relative;
    top: -0.25em;
    float: left;
    font-weight: bold;
}