@font-face {
    font-family: "Open Sans Condensed"; /* Гарнитура шрифта */
    src: url(../fonts/OpenSans-CondLight.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "Myriad"; /* Гарнитура шрифта */
    src: url(../fonts/MyriadPro/MyriadPro-Regular.otf); /* Путь к файлу со шрифтом */
}


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing:  border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #000;
}
input[type="text"], input[type="password"], textarea, select {
    outline: none;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #9c9c9c;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #9c9c9c;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #9c9c9c;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #9c9c9c;
}
body{
    font: 100%/1.5em  sans-serif;
    font-family: "Myriad", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
    font-weight: 300;
    color: #363636;
}
.page-wrapper {
    min-height: 100%;
    z-index: 999;
}

* html .page-wrapper {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

.transition{
    -webkit-transition: all 0s ease-out 0.1s;
    -moz-transition: all 0.1s ease-out 0.1s;
    -o-transition: all 0.1s ease-out 0.1s;
    transition: all 0.1s ease-out 0.1s;
}
.container{
    width: 100%;
    margin: 0 auto;
}

.container .cols{
    float: left;
    text-align: center;
}

.container .cols.centered{
    float: none;
    margin: 0 auto;
}

.container .cols.col-1{width: 8.333%;}
.container .cols.col-2{width: 16.666%;}
.container .cols.col-3{width: 25%;}
.container .cols.col-4{width: 33.333%;}
.container .cols.col-5{width: 41.666%;}
.container .cols.col-6{width: 50%;}
.container .cols.col-7{width: 58.333333%;}
.container .cols.col-8{width: 66.666%;}
.container .cols.col-9{width: 75%;}
.container .cols.col-10{width: 83.333%;}
.container .cols.col-11{width: 91.666%;}
.container .cols.col-12{width: 100%;}

.container:before,
.container:after,
.row:after,
.row:before,
.clear:before,
.clear:after{
    content: " ";
    display: table;
}

.container:after,
.row:after,
.clear:after{
    clear: both;
}

.transition{
    -webkit-orderBuition: all 0.2s ease-out 0.2s;
    -moz-transition: all 0.2s ease-out 0.2s;
    -o-transition: all 0.2s ease-out 0.2s;
    transition: all 0.2s linear 0.2s;
}

/*MAIN PAGE*/
body{
    font-family:'Myriad','Lucida Grande','Helvetica Neue','Helvetica','Arial','Verdana','sans-serif';

    background-size: cover;
    background-attachment: fixed;
    background-position: 100% 0%;
}
.header{
    height: 3em;
    background: rgba(0,0,0,0.6);
    color: rgba(255,255,255,0.7);
    font-size: 0.8em;
}
.header .centered .cols:first-child{
    text-align: left;
    padding: 0.6em 0 0.5em 0;
}
.header .centered .cols:last-child{
    text-align: right;
}
.header .centered .cols:last-child div{
    display: inline-block;
    height: 100%;
    padding: 0.6em 1.8em 0.5em 0.8em;
}
.header .centered .cols:last-child div{
    border-left: 1px solid rgba(255,255,255,0.1);
}
.header .centered .cols:last-child div:last-child{
    border-right: 1px solid rgba(255,255,255,0.1);
}
.header .fa{
    color: #fff;
    margin: 0 1em 0 0.8em;
}

.header .localeButton {
    padding-left: 1.6em !important;
    cursor: pointer;
}
.header .localeButton:hover {
    color: #fff;
}
.logoWrapper img{
    max-width: 19%;
    margin: 0 auto;
    cursor: pointer;
    padding: 1.3em 0 1.3em 0;

}
.logoWrapper .border{
    width: 100%;
    height: 1px;
    background:  rgba(255,255,255,0.3)
}

.menuWrapper ul li{
    display: inline-block;
}
.menuWrapper ul li a{
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.9em;
    font-weight: bold;
    padding:0.6em 2em 0.5em 2em;

}
.menuWrapper ul li:hover{
    background:#fff;
    cursor: pointer;
    position: relative;
}
.menuWrapper ul li:hover a{
    color:#343434;
}
/*Подменю*/
.menuWrapper ul li:hover ul{
    display: block;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.45s;
    animation-name: fadeIn;
    animation-duration: 0.45s;

}
.menuWrapper ul li ul{
    z-index: 999;
    position: absolute;
    left: 0;
    top: 2.6em;
    display: none;
    border:1px solid #e6e6e6;
    width: 100%;
}
.menuWrapper ul li ul li{
    display: block;
    /*background: #fff;*/
    background: rgba(255,255,255,0.9);
    border-top: 1px solid #E6E6E6;
    font-size: 0.9em;
    width: 100%;
}
.menuWrapper ul li ul li:first-child{
    border-top: none;
}
.menuWrapper ul li ul li:hover{
    /*background: #EFEFEF;*/
}
.menuWrapper ul li ul li a{
    text-transform: none;
    font-size: 0.9em;
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    20% { opacity: 0; }
    40% { opacity: 0.3; }
    60% { opacity: 0.5; }
    80% { opacity: 0.9; }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    20% { opacity: 0; }
    40% { opacity: 0.3; }
    60% { opacity: 0.5; }
    80% { opacity: 0.9; }
    100% { opacity: 1; }
}
.footer{
    background: rgba(0,0,0,0.6);
    /*background: #3C4459;*/
    color: rgba(255,255,255,0.7);
    font-size: 0.8em;
    height: 4em;
    padding: 1.2em 0 1em 0;
}
.footer .cols:first-child{
    text-align: left;
}
.footer .cols:last-child{
    text-align: right;
}
.footer .fa{
    color: #fff;
    margin: 0 1em 0 0.8em;
}
.headerWrapper{
    /*background: url("../img/mainPageBackground.png");*/
    background:radial-gradient(circle at 25% 50%,rgba(65,63,65,.58),rgba(65,63,65,.58)),url("../img/mainPageBackground.png");
    /*background-size: cover;*/
    background-position: 100% 0%;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}





.mainBlockWrapper{
    padding: 4em 0 4em 0;
}
.mainBlock{
    border-left:2px solid #192A31;
    border-bottom:2px solid #192A31;
    width: 100%;
    padding: 1em;
    position: relative;
    margin-top: 4em;
}

.mainBlock .logoSmall{
    position: absolute;
    left: -1.55em;
    top: -3.5em;
    max-width: 100%;
    border: 2px solid #192a31;
    width: 3em;
    height: 3em;
    -mos-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    padding:0.3em 0 0 0;
}
.mainBlock .logoSmall img{
    max-width: 60%;
    position: relative;
    /*top: 3px;   */
    left: 1px;
    -mos-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.mainBlock .blockTitle{
    position: absolute;
    left: 3em;
    top: -2.3em;
    text-transform: uppercase;
}
.registrationLink{
    cursor: pointer;
    color: rgba(255,255,255,0.7);
}
.registrationLink:hover{
    text-decoration: underline;
}

/*SALE PAGE*/
.sale.mainBlock{
    padding: 2em 2em 0 2em;
}
.sale.mainBlock .item{
    margin-bottom: 4em;
}
.sale .item .photo img{
    max-width: 100%;
}
.sale .item .title{
    text-align: left;
    margin-bottom: 0.5em;
}
.sale .item .description {
    padding:  0 0 0 2em;
}
.sale .item .description p{
    text-align: left;
}
.sale .item .description .phone{
    text-align: left;
    margin-top: 1.5em;
    font-size: 1.1em;
}
.sale .item .description .phone .fa{
    margin: 0 1em 0 0;
    border:2px solid #192A31;
    width: 1.8em;
    height: 1.8em;
    text-align: center;
    font-size: 1em;
    padding-top: 0.3em;
    cursor: pointer;
}
.sale .item .description .phone .fa:hover{
    background: #192A31;
    color: #fff;
}
.sale .addNewSale{
    display: inline-block;
    margin-left: 2em;
    cursor: pointer;
}
.sale .addNewSale:hover{
}
/*REGISTRATION PAGE*/
.register input {
    width: 100%; /* Ширина поля в процентах */
    min-height: 10px; /* Высота поля в пикселах */
    resize: vertical; /* Запрещаем изменять размер */
    border:1px solid #ddd;
    padding: 0.6em 0 0.6em 0.8em;
    margin-left: 2em;
    color: #767676;
    font-size: 1em;
    vertical-align: center;
}


.register input{
    float: left;
    margin:0 0 1em 2em;
}
.register .title{
    text-align: left;
    margin:1em;
    clear: left;
}
.register.mainBlock{
    padding-right: 5em;
}
.register .submit{
    float: left;
    padding: 0.6em 2em;
    border:2px solid #192A31;
    font-weight: bold;
    cursor: pointer;
    margin: 2em 1em;
}
.register .submit:hover{
    background: #192A31;
    color: #fff;
}
/*END REGISTRATION PAGE*/
/*BLOG PAGE*/
.blog .item img{
    max-width: 100%;
}

.blog.mainBlock{
    padding: 2em 2em 0 2em;
}
.blog.mainBlock .item{
    margin-bottom: 5em;
}
.blog .item .photo img{
    max-width: 100%;
}
.blog .item  .horizontalLine{
    display: none;
    position: relative;
    left: -2em;
    width: 47%;
    height: 2px;
    background: #192A31;
    margin:4em 0 4em 0;
}
.blog .item:last-child  .horizontalLine{
    display: none;
}
.blog .item .title{
    text-align: left;
    margin-bottom: 0.5em;
}
.blog .item .description {
    padding:  0 0 0 2em;
}
.blog .item .description p{
    text-align: left;
}
.blog .description .preDescription{
    border-top:1px solid #CCCCCC;
    border-bottom:1px solid #CCCCCC;
    margin: 0.5em 0 1.4em 0;
    font-size: 0.8em;
    padding: 0.4em 0 0.4em 0;
    text-align: left;
}
.blog .description .preDescription span{
    padding: 0 1em 0 1em;
    border-left: 1px solid #ccc;
}
.blog .description .preDescription span .fa{
    padding-right: 0.4em;
}
.blog .description .preDescription span:first-child{
    padding: 0 1em 0 0;
}
.blog .description .preDescription span:first-child{
    border:none;
}
.blog .item .openPost{
    /*background: #F4F4F4;*/
    float: right;
    cursor: pointer;
    font-size: 1.1em;
    border-left: none !important;
    font-weight: bold;

}
.blog .item .openPost:hover{
}


.pageNav.top{
    position: absolute;
    right: 0;
    top: -0.1em;
}
.pageNav.bottom{
    width: 100%;
    position: relative;
    height: 3em;
    /*padding: 1em;*/
}
.pageNav.bottom ul{
    position: absolute;
    right: 0;
    bottom: 0.5em;
}
.pageNav ul li{
    cursor: pointer;
    display: inline-block;
    border:1px solid #192A31;
    width: 1.5em;
    height: 1.5em;
    font-size: 0.9em;
    font-weight: bold;
}
.pageNav ul li:hover{
    background:  #192A31;
    color: #fff;
}
.pageNav ul li.active{
    background:  #192A31;
    color: #fff;
}